/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-nov.-2016, 11:06:38
    Author     : Administrateur
*/

body {
    background-color: #ccc;
    margin: auto;
}

h1 {
    text-align: center;
    background-color: white;
}

form {
    width: 80%;
    margin: auto;
}

#patientList {
    width: 80%;
    margin: 10px auto;
}

#patientList, #patientList tr, #patientList td, #patientList th {
    border: 1px black solid;
    border-collapse: collapse;
}